@import "../../styles/scss/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.leaders-table {
  font-size: 1.2em;
  color: $violet-color;
  box-shadow: inset 0 0 20px $violet-color;
  font-family: "Press Start 2P", cursive !important;
  thead {
    border: 1px solid $violet-color;
    background-color: $violet-color;
    color: white;
    height: 10vh;
  }
  tr {
    height: 10vh;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    &:hover {
      background-color: $violet-color;
      color: white;
      transition: 0.4s ease-in-out;
      height: 11vh;
    }
  }
  th {
    border: 3px solid $violet-color;
    font-family: "Press Start 2P", cursive !important;
  }
  td {
    font-family: "Press Start 2P", cursive !important;
  }
}
.leader-position {
  font-size: 1.25em;
  color: red;
}
.leader-level {
  color: $green_color;
}
.leader-speed {
  &::after {
    content: "X";
  }
}
.leader-score {
  color: $violet-color;
}
