@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

//TYPOGRAPHY
.bg-green {
  background-color: $green_color;
}
.bg-violet {
  background-color: $violet_color !important;
}
.bd-radius-5 {
  border-radius: 5px !important;
}

.bd-radius-10 {
  border-radius: 10px !important;
}

.bd-radius-16 {
  border-radius: 16px;
}

.bd-radius-22 {
  border-radius: 22px;
}
.txt-white {
  color: white;
}
.txt-black {
  color: black;
}
.txt-green {
  color: $green_color;
}
.txt-violet {
  color: $violet-color;
}
.txt-fontweight-100 {
  font-weight: 100;
}
.txt-fontweight-200 {
  font-weight: 200;
}
.txt-fontweight-200 {
  font-weight: 200;
}
.txt-fontweight-300 {
  font-weight: 300;
}
.txt-fontweight-400 {
  font-weight: 400;
}
.txt-fontweight-500 {
  font-weight: 500;
}
.txt-fontweight-600 {
  font-weight: 600;
}
.txt-fontweight-700 {
  font-weight: 700;
}
.txt-fontweight-800 {
  font-weight: 800;
}
.txt-fontweight-900 {
  font-weight: 800;
}
.cursor-pointer {
  cursor: pointer !important;
}
.txt-fontfamily-gaming {
  font-family: "Press Start 2P", cursive !important;
}

.display-none {
  display: none !important;
}
